[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
flask = "==1.0.2"
itsdangerous = "==1.1.0"
"Jinja2" = "==2.10"
MarkupSafe = "==1.1.0"
Werkzeug = "==0.14.1"
flask-login = "*"
flask-logger = "*"
redis = "*"
flask-session = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-mongoengine = "*"

[dev-packages]

[requires]
python_version = "3"
