<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Story Map</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/app.css">
    <script src="libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="libs/layer/layer.js"></script>
    <link href="libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<span id="variables" style="display: none"></span>

<div id="title" class="title" :style="'width:'+vm1.widthData">
    <h3 class="col-num-1">Story Map</h3>
    <i :class="'col-reload fa fa-refresh'+isRotating" @click="reload"></i>
</div>
<div id="app1" v-bind:style="{width: widthData}">
    <grid-layout v-for="(layout,index) in layouts"
                    :layout="layout"
                    :col-num="colNum"
                    :row-height="index>1?layoutHeightRelease:layoutHeightBasic"
                    :margin="index>1?cardMarginRelease:cardMarginBasic"
                    :is-draggable="true"
                    :is-resizable="false"
                    :vertical-compact="true"
                    :use-css-transforms="true"
                    :class="'layout-level'+(index+1)"
    >
        <span :class="index<=1? 'denote-normal':'denote-release'">{{displayDenote(index)}}</span>
        <svg class="svg-activities-divider"
            :height="dividerHeight(index+1)"
            :width="widthData" xmlns="http://www.w3.org/2000/svg">
                <g v-for="path in activityDividers" fill="none" stroke="#777" stroke-width="1">
                    <path stroke-dasharray="1,10" stroke-dashoffset='7' :d="'M'+path.x+' '+path.y+' V'+dividerHeight(index+1)" />
                </g>
        </svg>
        <grid-item v-for="item in layout"
                    :x="item.x"
                    :y="item.y"
                    :w="item.w"
                    :h="item.h"
                    :i="item.i"
                    :class="'card card-level'+(index+1)"
                    :style="'height:'+cardHeight+'px !important;'"
                    @moved="cardMoved"
        >
            <span class="text">{{item.text}}</span>
            <span class='x_y' style="visibility: hidden;">{{item.x}}_{{item.y}}</span>
            <span name="card-controls">
                <i @click.stop="removeCard" class="card-delete fa fa-window-close fa-lg pull-right"></i>
                <i @click.stop="addCardRight" class="card-add-right fa fa-chevron-circle-right fa-lg"></i>
                <i @click.stop="addCardBottom" class="card-add-bottom fa fa-chevron-circle-down fa-lg"></i>
                <i @click.stop="editText" class="card-edit fa fa-pencil-square-o fa-2x"></i>
                <i @click.stop="toggleCardStatesMenu" :class="index<=1? 'state-normal':'state-release'" style="width:40px">{{displayCardState(index)}}</i>
                <ul class="state-selection-menu">
                    <li v-for="state in statesMenu" @click.stop="selectCardState" v-click-outside.stop="closeCardStatesMenu">{{state}}</li>
                </ul>
            </span>
        </grid-item>
    </grid-layout>
    <div>
        <span class="new-releases">
            <i @click.stop="addReleases" class="new-releases-logo fa fa-plus-square fa-lg"></i>
            <span @click.stop="addReleases" class="new-releases-text">添加release</span>
        </span>
    </div>
</div>

<div class="placeholder horizontal"></div>
<script src="libs/vue/vue.min.js"></script>
<script src="libs/vue-grid-layout/vue-grid-layout.umd.min.js"></script>
<script src="board.js"></script>
</body>
</html>
