::-webkit-scrollbar {  /*定义滚动条高宽及背景*/
    width: 0;  /*竖向*/
    height: 8px; /*横向*/
}

::-webkit-scrollbar-track {  /*滚动条轨道*/
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #76b852;
}

::-webkit-scrollbar-thumb {  /*滚动条*/
    border-radius: 10px;
    /* background-color: #777; */
    box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

div {margin:0;border:0;padding:0;}

.card-add-right {
    position: absolute;
    top: 84%;
    right: 5%;
    color: #000;
    opacity: 0.1;
}
.card-add-right:hover{
    opacity: 0.5;
    cursor: pointer;
}
.card-add-bottom {
    position: absolute;
    top: 84%;
    right: 20%;
    color: #000;
    opacity: 0.1;
}
.card-add-bottom:hover {
    opacity: 0.5;
    cursor: pointer;
}
.card-delete {
    color: #000;
    opacity: 0.1;
    text-decoration: none;
    padding-top: 1%;
    padding-right: 0.5%;
    border: none;
}
.card-delete:hover {
    opacity: 0.2;
    cursor: pointer;
}
.card-edit {
    position: absolute;
    top: 42%;
    right: 5%;
    color: #000;
    opacity: 0.3;
}
.card-edit:hover {
    opacity: 0.8;
    cursor: pointer;
}
.card-illegal {
    box-shadow: #EE7766 0px 0px 30px 3px !important;
}
.card {  /* releases */
    background: #a0e0b0 !important;
}
.card.card-level1 {  /* activities */
    background: #aed9e9 !important;
}
.card.card-level2 {  /* tasks */
    background: #f4e466 !important;
}

.denote-release{
    margin-left: 10px;
    margin-top: 0;
    color:#0077B5;
    font-family: "Times New Roman";
    font-weight: 600;
    float: left;
    user-select: none;
}

.layout-activities-divider {
    pointer-events: none;
    position: absolute;
    top: 0;
    border-right: dashed #ccc 1px;
}

.new-releases {
    color:#0077B5;
    opacity: 0.7;
    user-select: none;
}
.new-releases:hover {
    opacity: 0.9;
    cursor: pointer;
}
.new-releases .new-releases-logo {
    margin-left: 10px;
    margin-top: 20px;
}
.new-releases .new-releases-text {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: "Times New Roman";
    height:19px;
    font-weight: bold;
}

.placeholder.horizontal {
    padding-top: 50px;
    padding-bottom: 50px;
}

.state-basic {
    display: none;
    position: absolute;
    bottom:1%;
    left: 5%;
    color: #FFFFFF;
    text-align: center;
    user-select: none;
}
.state-basic.state-Todo {
    background:#8D8D8D;
    display: block;
}
.state-basic.state-Ready {
    background:#EE7766;
    display: block;
}
.state-basic.state-Doing {
    background:#4DAADD;
    display: block;
}
.state-basic.state-Done {
    background:#58B74B;
    display: block;
}
.state-selection-menu{
    list-style-type: none;
    display:none;
    position: absolute;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    bottom:24%;
    left:4%;
    width:50px;
    background-color: rgba(0, 0, 0, 0.3);
    user-select: none;
}
.state-selection-menu.open{
    animation: slide-down .5s ease-in;
    -webkit-animation: slide-down .5s ease-in;
    transition: all 0.3s ease-out;
    transform-origin: 50% 0;
}
.state-selection-menu li{
    /* float:left; */
    text-align: center;
    line-height:20px;
    margin: 0;
    padding:0;
}
/*为下拉框展开时添加名称为slide-down的关键帧动画*/
@keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
/*ul:after{*/
    /*display: none;*/
    /*max-height: 0;*/
    /*transition: max-height.3s ease-out;*/
/*}*/

#app1 {
    margin-top: 46px;
}

.title {
    height: 46px;
    align-items:Center;
    /* display: flex; */
    background: #76b852;
    background: linear-gradient(to left, #76b852, #8DC26F);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.title .col-num-1 {
    float: left;
    color: #fff;
    text-align: center;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0% !important;
}
.title .col-reload {
    display: inline-block;
    margin: 18px;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
    /* justify-content:center; */
}

.vue-grid-layout {
    background: #eee;
    border-top: dashed #ccc 1px;
    cursor: default;
}
.vue-grid-layout.layout-level1 {
    border-top: none;
}

.vue-grid-item:not(.vue-grid-placeholder) {
    background: #ccc;
    /* border: 1px solid rgb(235, 160, 160); */
    box-shadow: 1px 1px 4px #aaa;
}
.vue-grid-item.static {
    background: #cce;
}
.vue-grid-item .text {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 8%;
    margin-bottom: 15%;  /* works fine */
    margin-left: 5%;
    margin-right: 14%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;  /* works fine */
    user-select: none;
}
.vue-grid-item .no-drag {
    height: 100%;
    width: 100%;
}
.vue-draggable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
    background-position: bottom right;
    padding: 0 8px 8px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: pointer;
}
