{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<h1>管理面板</h1>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;
        </button> {{ message }}
    </div>
{% endfor %}
<p>
    我的信息： {{ name }} &nbsp; {{ email }} &nbsp; <a href='{{ url_for("auth.logout") }}'>注销</a>
</p>
<div class="container">
<hr>
<button class="btn btn-outline-primary" data-toggle="modal" data-target="#create-map">创建新地图</button>
<form method="post">
{{ form.hidden_tag() }}  {# CSRF字段 #}
<div class="modal fade" id="create-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                新建故事地图
            </div>
            <div class="modal-body">
                {{ form.name }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                {{ render_field(form.submit) }}
            </div>
        </div>
    </div>
</div>
</form>
<hr>
<div class="row">
    <div class="col-md-6">
        <p>我的故事地图:</p>
        <ul>
            {% if maps %}
                {% for k,v in maps.items() %}
                <li>
                    <p>{{ v }}<br>
                        <small>
                            <a href="{{ url_for('main.edit_map', sm=k) }}">查看/编辑</a>
                            <a href="#" onclick="renameMap('{{ k }}','{{ v }}')">重命名</a>
                            <a href="{{ url_for('main.trash_map', sm=k) }}">移到回收站</a>
                        </small>
                    </p>
                </li>
                {% endfor %}
            {% else %}
                <small>空的</small>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-6">
        <p>回收站:</p>
        <ul>
            {% if recycle_bin  %}
                {% for k,v in recycle_bin.items() %}
                    <li>
                        <p>{{ v }}<br>
                            <small>
                                <a href="{{ url_for('main.restore_map', sm=k) }}">恢复</a>
                                <a href="#" onclick="deleteMap('{{ k }}','{{ v }}')">彻底删除</a>
                            </small>
                        </p>
                    </li>
                {% endfor %}
            {% else %}
                <small>空的</small>
            {% endif %}
        </ul>
    </div>
</div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                请确认
            </div>
            <div class="modal-body">
                <input type="text" hidden id="delete-map-id" />
                <p>故事地图："<span id="confirm-delete-map-name"></span>"</p>
                <p>彻底删除后将不可恢复，您确定要继续操作吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-danger" onclick="performDelete()">删除</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rename-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                重命名
            </div>
            <div class="modal-body">
                <input type="text" hidden id="rename-map-id" />
                <input class="form-control" type="text" name="new-name" id="rename-map-new-name" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="performRename()">提交更改</button>
            </div>
        </div>
    </div>
</div>
<script>
// confirm delete:
function deleteMap(mapId, name) {
    $('#confirm-delete-map-name')[0].innerText=name;
    $('#delete-map-id').val(mapId);
    $('#confirm-delete').modal('show');
}
function performDelete() {
    let sm = $('#delete-map-id').val();
    $.ajax({
        type: "post",
        url: "{{ url_for('api.delete_map') }}",
        data: "sm=" + sm,
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        success: function(result) {
            console.log(result);
            window.parent.location.reload();
        }
    });
}

// rename map：
function renameMap(mapId, oldName) {
    $('#rename-map-id').val(mapId); //将mapId写入模态框隐藏的input框
    $('#rename-map-new-name').val(oldName);
    $('#rename-map').modal('show');
}
function performRename() {
    let sm = $('#rename-map-id').val(); //获取模态框数据
    let nn = $('#rename-map-new-name').val();
    $.ajax({
        type: "post",
        url: "{{ url_for('api.rename_map') }}",
        data: "nn=" + nn + "&sm=" + sm,
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        success: function(result) {
            console.log(result);
            window.parent.location.reload();
        }
    });
}
</script>
{% endblock %}
