{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<h1>管理面板</h1>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;
        </button> {{ message }}
    </div>
{% endfor %}
<p>
    我的信息： {{ name }} &nbsp; {{ email }} &nbsp; <a href='{{ url_for("auth.logout") }}'>注销</a>
</p>
<div class="container">
<hr>
<button class="btn btn-outline-secondary" data-toggle="modal" data-target="#create-map">创建新地图</button>
<form method="post">
{{ form.hidden_tag() }}  {# CSRF字段 #}
<div class="modal fade" id="create-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                新建故事地图
            </div>
            <div class="modal-body">
                {{ form.name }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                {{ render_field(form.submit) }}
            </div>
        </div>
    </div>
</div>
</form>
<hr>
<div class="row">
    <div class="col-md-6">
        <p>我的故事地图:</p>
        <ul>
            {% if maps %}
                {% for k,v in maps.items() %}
                <li>
                    <p>{{ v }}<br>
                        <small>
                            <a href="{{ url_for('main.edit_map', sm=k) }}">查看/编辑</a>
                            <a href="{{ url_for('main.trash_map', sm=k) }}">移到回收站</a>
                        </small>
                    </p>
                </li>
                {% endfor %}
            {% else %}
                <small>空的</small>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-6">
        <p>回收站:</p>
        <ul>
            {% if recycle_bin  %}
                {% for k,v in recycle_bin.items() %}
                    <li>
                        <p>{{ v }}<br>
                            <small>
                                <a href="{{ url_for('main.restore_map', sm=k) }}">恢复</a>
                                <a href="{{ url_for('main.delete_map', sm=k) }}">彻底删除</a>
                            </small>
                        </p>
                    </li>
                {% endfor %}
            {% else %}
                <small>空的</small>
            {% endif %}
        </ul>
    </div>
</div>
</div>
{% endblock %}
