{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button> {{ message }}
        </div>
    {% endfor %}
    <br>
    {{ render_form(form) }}
    <br>
    <small>Not have an account yet? <a href='{{ url_for("auth.register") }}'>Click Here to Register!</a></small>
</div>
{% endblock %}
