{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button> {{ message }}
        </div>
    {% endfor %}
    <h1>注册</h1>
    {{ render_form(form) }}
    <br>
    <small>已有账号? <a href='{{ url_for("auth.login") }}'>点此登录</a></small>
</div>
{% endblock %}
